@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url(./Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2);
}

:root {
  line-height: 1.5;
  --margin: 12px;
  --half-margin: 6px;
  --quarter-margin: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Atkinson-Hyperlegible", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 1fr 12fr 1fr;
}

img {
  display: block;
  max-inline-size: 100%;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

h2 {
  margin: var(--margin) var(--margin) var(--half-margin) var(--margin);
}

h3 {
  margin: var(--half-margin) var(--margin) var(--half-margin) var(--margin);
}

h4 {
  padding: var(--half-margin) var(--margin) var(--half-margin) var(--margin);
}

#header {
  grid-area: 1 / 1 / 2 / -1;
  margin: var(--margin);
}

#overview {
  grid-area: 2 / 1 / 3 / 2;
  background-color: rgb(247, 199, 111);
  margin: var(--margin) var(--half-margin) var(--margin) var(--margin);
}

#projects {
  grid-area: 2 / 2 / 3 / -1;
  background-color: rgb(193, 111, 247);
  margin: var(--margin) var(--margin) var(--margin) var(--half-margin);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#footer {
  grid-area: 3 / 1 / -1 / -1;
  margin: var(--margin)
}

#overview,
#projects {
  border-radius: var(--half-margin);
}

.title-bar {
  display: flex;
  flex-direction: row;
}

.title-bar h2 {
  margin-right: auto;
}

.default-button {
  margin: var(--half-margin);
  padding: var(--half-margin);
  background-color: rgb(247, 199, 111);
  border: 2px outset rgb(209, 143, 30);
  border-radius: var(--half-margin);
}

#project-lists {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: var(--half-margin);
  margin-right: var(--half-margin);
  overflow: auto;
  scrollbar-color: purple orange;
}

.project-col {
  flex: 0 0 250px;
}

.todo-box {
  background-color: rgb(247, 199, 111);
  border-radius: var(--half-margin);
  margin: var(--half-margin);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.todo-box p {
  padding: 0 var(--margin) var(--half-margin) var(--margin);
}

.todo-box .todo-date {
  padding: var(--half-margin) var(--margin) var(--half-margin) var(--margin);
}

.todo-wide {
  grid-column-start: 1;
  grid-column-end: 2;
}

.sidebar-dialog {
  padding: var(--margin);
  width: 30%;
  min-width: 300px;
  position: absolute;
  left: 70%;
  top: 0;
  height: 100vh;
}

.inputField {
  margin: var(--margin);
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: end;
}

input,
textarea,
option {
  padding: var(--half-margin);
}

label {
  font-weight: bold;
}
